/venv
/__pycache__
blueprints/__pycache__

blueprints/__pycache__/main.cpython-311.pyc
blueprints/__pycache__/contact_form.cpython-311.pyc
blueprints/__pycache__/__init__.cpython-311.pyc
blueprints/__pycache__/contact_form.cpython-311.pyc
blueprints/__pycache__/main.cpython-311.pyc
