{% extends 'base.html' %}

{% block content %}
<div class="breadcrumb-section">
    <div class="breadcrumb">
        {% if 'breadcrumb' in session %}
            {% for crumb in session['breadcrumb'] %}
                <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                {% if not loop.last %}
                    &gt;
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- Back Button -->
    <a href="javascript:history.back()" class="back">← Back</a>
</div>
<div class="container">
    <div class="manage-container">
        <h2>Account Management - Account ID: {{ account.Id }}</h2>
    </div>
    <div class="card">
        <div class="manage-container" onclick="toggleCollapse('accountInfo')">
            <h4>Account Info</h4>
        </div>
        <div id="accountInfo" class="collapsed">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Account Type</th>
                    <th>Created</th>
                    <th>Balance</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ account.Id }}</td>
                        <td>{{ account.AccountType }}</td>
                        <td>{{ account.Created }}</td>
                        <td>{{ account.Balance }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header" onclick="toggleCollapse('customerTransfer')">
            <h4>Customer Transfer</h4>
        </div>
        <div id="customerTransfer" class="collapse">
            <div>
                <table>
                    <tr>
                        <td colspan="2">
                            <input type="text" id="customerSearch" placeholder="Enter Customer ID" onkeypress="searchAccounts(event)">
                            <button type="button" onclick="searchAccounts()">Search</button>
                        </td>
                    </tr>
                </table>
                <div id="transferFormContainer" style="display: none;">
                    <form id="transferForm" action="#" method="post" data-from-account-id="{{ account.Id }}">
                        {{ customer_transfer_form.hidden_tag() }}
                        <table>
                            <tbody>
                                <tr>
                                    <td><label for="to_account">To Account:</label></td>
                                    <td><select name="to_account" id="to_account" class="form-control">
                                        <!-- Options will be dynamically added here -->
                                    </select></td>
                                </tr>
                                <tr>
                                    <td><label for="amount">Amount:</label></td>
                                    <td>{{ customer_transfer_form.amount(class='form-control') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ customer_transfer_form.submit(class='form-submit-button') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>        
    </div>
    

    <!-- Transfer Funds Section -->
    <div class="card">
        <div class="card-header" onclick="toggleCollapse('accountTransfer')">
            <h4>Account Transfer</h4>
        </div>
        <div id="accountTransfer" class="collapse">
            <!-- Transfer Form -->
            <form action="{{ url_for('transaction.transfer_transaction', from_account_id=account.Id) }}" method="POST">
                {{ transfer_form.hidden_tag() }}
                <table class="table-list">
                    <tbody>
                        <tr>
                            <td>{{ transfer_form.to_account.label }}</td>
                            <td>{{ transfer_form.to_account(class='form-control') }}</td>
                        </tr>
                        <tr>
                            <td>{{ transfer_form.amount.label }}</td>
                            <td>{{ transfer_form.amount(class='form-control') }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center;">
                                {{ transfer_form.submit(class_='form-submit-button') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!-- Edit Account Section -->
    <div class="card">
        <div class="card-header" onclick="toggleCollapse('editAccount')">
            <h4>Edit Account</h4>
        </div>
        <div id="editAccount" class="collapse">
            <form action="{{ url_for('account.edit_account', account_id=account.Id) }}" method="POST">
                {{ edit_account_form.hidden_tag() }}
                <table class="table-list">
                    <tbody>
                        <tr>
                            <td>{{ edit_account_form.account_type.label }}</td>
                            <td>{{ edit_account_form.account_type(class='form-control') }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                {{ edit_account_form.submit(class='form-submit-button') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!-- Delete Account Section -->
    <div class="card">
        <div class="card-header" onclick="toggleCollapse('deleteAccount')">
            <h4>Delete Account</h4>
        </div>
        <div id="deleteAccount" class="collapse">
            <button onclick="confirmDeleteAccount({{ account.Id }})" class="form-submit-button" style="background-color: red;">Delete Account</button>
        </div>
    </div>
</div>

<script>
    function toggleCollapse(elementId) {
        var element = document.getElementById(elementId);
        if (element.classList.contains('collapse')) {
            element.classList.remove('collapse');
            element.classList.add('collapsed');
        } else {
            element.classList.remove('collapsed');
            element.classList.add('collapse');
        }
    }

    function confirmDeleteAccount(accountId) {
        const confirmationText = prompt('Type CONFIRM to delete the account');
        if (confirmationText === 'CONFIRM') {
            fetch('/delete_account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrf_token"]').value
                },
                body: JSON.stringify({ account_id: accountId, confirm_text: confirmationText })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.message === 'Account deleted successfully') {
                    window.location.href = `/manage_accounts/${customer.Id}`;
                }
            })
            .catch(error => console.error('Error:', error));
        } else {
            alert('Deletion cancelled');
        }
    }

    function searchAccounts(event) {
        if (event && event.type === 'keypress' && event.keyCode !== 13) {
            return;
        }
    
        const customerId = document.getElementById('customerSearch').value;
        if (!customerId) return;
    
        const form = document.getElementById('transferForm');
        const fromAccountId = form.getAttribute('data-from-account-id');
        form.action = `/transfer_transaction/${fromAccountId}/${customerId}`;
    
        fetch(`/api/search_accounts/${customerId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const select = document.getElementById('to_account');
                select.innerHTML = '';
                data.accounts.forEach(account => {
                    const option = new Option(`${account.AccountType} - ${account.Id}`, account.Id);
                    select.add(option);
                });
    
                document.getElementById('transferFormContainer').style.display = '';
            })
            .catch(error => {
                console.error('Error fetching accounts:', error);
            });
    }
    
</script>
{% endblock %}
