{% extends 'base.html' %}

{% block title %}Account list{% endblock %}
{% block content %}
    {% macro sort_link(column, title) %}
        {% set new_sort_order = 'asc' if sort_order == 'desc' and sort_column == column else 'desc' %}
        <a href="{{ url_for('account.account_list', page=1, sort_column=column, sort_order=new_sort_order, search=search_query) }}">
            {{ title }}
            {% if sort_column == column %}
                {% if sort_order == 'asc' %}
                    <span class="sort-arrow">&#9650;</span> <!-- Up arrow -->
                {% else %}
                    <span class="sort-arrow">&#9660;</span> <!-- Down arrow -->
                {% endif %}
            {% endif %}
        </a>
    {% endmacro %}
    <div class="table-list">
        <table>
            <div class="filter-section" id="filterSection">
                <div class="filter-header">
                    <button id="filterToggle" class="filter-toggle">Filters</button>
                </div>
                <div class="filter-content">
                    <!-- Filter form or filter options go here -->
                    <form id="filterForm" onsubmit="event.preventDefault(); filterAccounts();">
                        <input type="text" id="listAccountSearch" name="name" placeholder="Name..." oninput="filterAccounts()">
                        <!-- You can remove the filter button or keep it for manual refresh -->
                        <button type="button" onclick="filterAccounts()">Filter</button>
                    </form>
                </div>
            </div> 
            <thead>
                <tr>
                    <th>{{ sort_link('Surname', 'Customer name') }}</th>
                    <th>Account Types</th>
                    <th>Account Balance</th>
                    <th>Total Balance</th>
                </tr>
            </thead>
            <tbody id="accountListBody">
                <!-- {% if customer_account_data %}
                    {% for customer_account in customer_account_data %}
                        <tr class="table-row" data-customer='{{ customer_account | tojson | safe }}'>
                            <td>{{ customer_account.Surname ~ ', ' ~ customer_account.GivenName }}</td>
                            <td colspan="2">
                                <table class="inner-table">
                                    {% for account_type, account_info in customer_account.GroupedAccounts.items() %}
                                        <tr>
                                            <td>{{ account_type }} {% if account_info.count > 1 %} x {{ account_info.count }}{% endif %}</td>
                                            <td>{{ account_info.total_balance }} SEK</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>{{ customer_account.total_balance }} SEK</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No accounts were found.</td>
                    </tr>
                {% endif %} -->
            </tbody>
        </table>
            <div class="table-row-pagination">

            </div>
            <!-- 
                {% set total_pages = paginated.pages %}
                {% set current_page = paginated.page %}
                {% set has_prev = paginated.has_prev %}
                {% set has_next = paginated.has_next %}
                {% set prev_num = paginated.prev_num %}
                {% set next_num = paginated.next_num %}
                

                {% if has_prev %}
                    <a href="{{ url_for('account.account_list', page=prev_num, search=search_query, sort_column=sort_column, sort_order=sort_order) }}">&lt;</a>
                {% endif %}



                {% for page in range(1, total_pages + 1) %}
                    {% if page == current_page %}
                        <span class="active">{{ page }}</span>
                    {% elif page == 1 or page == total_pages or page == current_page - 1 or page == current_page + 1 %}
                        <a href="{{ url_for('account.account_list', page=page, search=search_query, sort_column=sort_column, sort_order=sort_order, current_page=current_page) }}">{{ page }}</a>
                    {% elif page == current_page - 2 or page == current_page + 2 %}
                        <span class="dots">...</span>
                    {% endif %}
                {% endfor %}


                {% if has_next %}
                    <a href="{{ url_for('account.account_list', page=next_num, search=search_query, sort_column=sort_column, sort_order=sort_order) }}">&gt;</a>
                {% endif %}
            </div> -->
        <div class="table-details" style="display: none;">
            <div class="details__bg details__bg--down table-detail-description">
                <button class="details__close"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
                <div class="details__description table-detail-description">
                </div>
            </div>
        </div>
    </div>
{% endblock %}