<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
        <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styling/fontawesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jmap/jquery-jvectormap-2.0.5.css') }}">
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="flex-container"> 
        {% include 'interface_sidebar.html' %}
        <div class="main-content">
            {% block content %} {% endblock %}
        </div>
    </div>
            <!-- Details overlay structure -->
    <div class="details">
        <div class="details__bg details__bg--down">
            <button class="details__close"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
            <div class="details__description"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='homepage_styling/slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='jmap/jquery-jvectormap-2.0.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jmap/jquery-jvectormap-europe-merc.js') }}"></script>
    <script>      

        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');   
            }
        } 

        /* DOM is ready
        ------------------------------------------------*/
        
        $(document).ready(function() {
            // Check if there is a flash message
            if ($('.flash-message').length) {
                // Show the flash message
                $('.flash-message').slideDown(300).delay(3000).slideUp(300);
            }
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>