{% extends 'base.html' %}

{% block title %}Customer Details{% endblock %}

{% block content %}
<div class="customer-details-page">
    <div class="actions">
        <button onclick="manageCustomer()">Manage Customer</button>
        <button onclick="manageAccount()">Manage Account</button>
        <button>Placeholder</button>
    </div>

    <div class="customer-container">
        <div class="customer-details">
            <h2>Customer Details: {{ customer.GivenName }} {{ customer.Surname }}</h2>
            <p><strong>Email:</strong> {{ customer.EmailAddress }}</p>
            <p><strong>Phone:</strong> {{ customer.Telephone }}</p>
            <p><strong>Address:</strong> {{ customer.Streetaddress }}, {{ customer.City }}, {{ customer.Zipcode }}, {{ customer.Country }}</p>
            <p><strong>Personal Number:</strong> {{ customer.PersonalNumber }}</p>
        </div>
        <div class="account-data">
            <h3>Account Data</h3>
            {% for account in customer.Accounts %}
            <p><strong>{{ account.AccountType }}:</strong>{{ account.Balance }}</p>
            {% endfor %}
            <p><strong>Total Balance:</strong>{{ customer.total_balance }}</p>
        </div>
    </div>
    <div class="transaction-list" id="transactionList">
        <h3 onclick="toggleTransactionList()">Transactions</h3>
        <ul>
            <!-- Transactions will be dynamically inserted here -->
        </ul>
        <button id="loadMoreTransactions" onclick="loadTransactions({{ customer.Id }})">Load More</button>
    </div>

    <div class="transaction-graph">
        <h3>Last 50 Transactions</h3>
        <canvas id="transactionGraph"></canvas>
        <script>
            // Assuming your template correctly renders the customer ID here
            document.addEventListener('DOMContentLoaded', function() {
                openGraph({{ customer.Id }});
            });
        </script>
    </div>
</div>

    
{% endblock %}
