<div class="sidebar-flex" id="wrapper">
    <div class="navigation" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <button id="sidebarToggle" class="btn btn-primary">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span>User Interface</span>
            </button>
        </div>
        <div class="nav-link-group">
            {% if current_user.InformationPermission %}
                <div class="nav-section">
                    <a href="{{ url_for('user_interface.dashboard') }}" class="nav-link {{ 'active' if request.endpoint == 'user_interface.dashboard' else '' }}">
                        <i class="fas fa-home"></i><span>Main</span>
                    </a>
                    <a href="{{ url_for('customer.customer_list') }}" class="nav-link {{ 'active' if request.endpoint == 'customer.customer_list' else '' }}">
                        <i class="fas fa-users"></i><span>Customers</span>
                    </a>
                    <a href="{{ url_for('account.account_list') }}" class="nav-link {{ 'active' if request.endpoint == 'account.account_list' else '' }}">
                        <i class="fa fa-table" aria-hidden="true"></i><span> Accounts</span>
                    </a>
                    <a href="{{ url_for('login.logout') }}" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i><span>Logout</span>
                    </a>
                    <hr class="nav-section-divider">
                </div>
            {% endif %}
            {% if current_user.ManagementPermission %}
                <div class="nav-section">
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="{{ url_for('login.logout') }}" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>Logout</span>
                    </a>
                    <hr class="nav-section-divider">
                </div>
            {% endif %}
            {% if current_user.PlaceholderPermission %}
                <div class="nav-section">
                    <hr class="nav-section-divider">
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>placeholder</span>
                    </a>
                    <a href="{{ url_for('login.logout') }}" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i><span>Logout</span>
                    </a>
                    <hr class="nav-section-divider">
                </div> 
                <!-- More Links Here  -->
            {% endif %}         
        </div> 
    </div>
    <!-- /#sidebar-wrapper-->

    <!-- page content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper-->

</div>