{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}
{% block content %}
    {% include 'interface_sidebar.html' %}
    
    <div class="admin-content">
        <div class="admin-stats">
            <div class="admin-block-stat-item">
                <div class="admin-stat-item">
                    <div class="product">
                        <div class="product__bg"></div>
                        <div class="admin-nav-link">
                            <h2>{{ customer_count }}</h2>
                            <p>Total customers</p>
                        </div>
                        <div class="product__description">
                            <h2>Will show number of customers for different statistics, country, balance and so on.</h2>
                            <!-- Content that will be shown in the details overlay -->
                        </div>
                    </div>
                </div>
                <div class="admin-stat-item">
                    <div class="product">
                        <div class="product__bg"></div>
                        <div class="admin-nav-link">
                            <h2>{{ account_count }}</h2>
                            <p>Total Accounts</p>    
                        </div>
                        <div class="product__description">
                            <h2>Will show number of accounts and other interesting facts.</h2>
                            <!-- Content that will be shown in the details overlay-->
                        </div>
                    </div>       
                </div>  
                <div class="admin-stat-item">
                    <div class="product">
                        <div class="product__bg"></div>
                        <div class="admin-nav-link">
                            <h2>{{ total_balance }}</h2>
                            <p>Total Balance</p>
                        </div>
                        <div class="product__description">
                            <!-- Content that will be shown in the details overlay-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__item country-details" style="display: none;">
                <div class="product">
                    <div class="admin-nav-link">
                        <h2 id="country-name">yes</h2>
                    </div>
                    <div class="product__description">
                        <ul id="country-customers">yes</ul>
                    </div>
                </div>
            </div>
            <!-- Jvectormap container -->
            <div class="admin-map-container">
                <div class="product">
                    <div id="europe-map"></div>
                    <div class="product__description">
                        <p>hello</p>
                    <!-- content for map details overlay-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Details overlay structure -->
        <div class="details">
            <div class="details__bg details__bg--down">
                <button class="details__close"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
                <div class="details__description"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script class="text/javascript">
    $(function(){
        var customerData = {{ customer_data | tojson }};
        var countryCustomerData = {{ country_customer_data | tojson }};
        console.log(customerData)
        $('#europe-map').vectorMap({
            map: 'europe_merc',
            series: {
                regions: [{
                    values: customerData,
                    scale: ['#cefad0', '#008631'],
                    normalizeFunction: 'polynomial'
                }]
            },
            onRegionTipShow: function(e, el, code){
                el.html(el.html() + ' (Customers - ' + (customerData[code] || 0) + ')');
            },
            onRegionClick: function(event, code) {
                var countryData = countryCustomerData[code] || [];
                var preparedData = {
                    countryName: code,
                    customers: countryData.map(customer => {
                        return {
                            name: customer.name,
                            email: customer.email
                        };
                    })
                };
                openDetailsWithData(preparedData);
            }
        });
    });
</script>
{% endblock %}